<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="http://localhost:5000/" enctype="multipart/form-data">

        <label for="">User Name</label>
        <input type="text" name="username">
        <br><br>
        <label for="">User Email</label>
        <input type="email" name="useremail">
        <br><br>
        <label for="">User Password</label>
        <input type="password" name="userpassword">
        <br><br>
        
        <label for="">User Image</label>
        <input type="file" name="userimage">
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>